<div
  class="card"
  [class.is-flipped]="flipped"
  tabindex="0"
  role="button"
  [attr.aria-pressed]="flipped ? 'true' : 'false'"
  (click)="toggleFlip()"
  (keydown.enter)="toggleFlip()"
  (keydown.space)="toggleFlip(); $event.preventDefault()"
>
  <div class="card-inner">
    <div class="card-front">
      <div
        class="heading"
        [ngClass]="{ 'heading-with-image': hasImage() }"
      >
        {{ frontText }}
      </div>
      <div
        class="img"
        *ngIf="hasImage()"
        [style.background-image]="'url(' + getImg() + ')'"
      ></div>
    </div>

    <div class="card-back">
      <div class="heading">{{ backText }}</div>
    </div>
  </div>
</div>
